/*Google fonts*/

body {
	font-family: sans-serif;
}

/*CSS reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav{
	/*Short hand property : apply padding on all sodes*/
	padding: 0.8rem;


	margin-bottom: 2rem;
	border-bottom: 1px solid gray;

	list-style: none;
}
/*Selector Combinator*: Type_Selector Class_Selector*/
nav .nav, nav .nav-logo {
	margin: 0px;
	display: inline;
}


#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;

}

#intro button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem0;
	padding-bottom: 3rem;
}
#succeed-info h2{
	margin-bottom: 1rem;
}

#succeed-info .card{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer
{
padding: 0.7rem;
}

footer span
{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
#pre-footer{
	background-color: #002540;
	height: 150px;
	/*padding-bottom: 4rem;*/
}

#pre-footer div{

	color: white;
	display: inline-block;
	/*vertical-align: bottom;*/
	min-height: 50px;
	width: 20%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding-top: 2rem;
	padding-bottom: 0.5rem;
	/*padding: 2px;*/
	font-size: 10pxs;
}


